{% load humanize %}

<div id="comments" class="comments col-md-12 clearfix">
    <div class="button-comment clearfix">
        <textarea name="content" placeholder="支持匿名评论，回复邮箱提醒，快来注册个账号吧。"></textarea>
        <button class="btn btn-default btn-md fr">提&nbsp;&nbsp;交</button>
    </div>
    <div class="clearfix">
        <span class="fl">{{ article.get_comment_num  }}条评论</span><span class="fl">&nbsp;|&nbsp;</span><span class="fl">{{ article.get_reply_num  }}条回复</span>
    </div>
    {% for comment in comments %}

    <div class="comment col-md-12 clearfix">
        <div class="comment-header">
            <em class="fa fa-user-circle fa-lg"></em>
            &nbsp;
            {% if comment.user %}
                {{ comment.user }}
                {% else %}
                匿名用户
            {% endif %}
        </div>
        <div id="{{ comment.id }}" class="comment-content">
            {{ comment.content }}
            <div class="comment-footer clearfix">
                <span>{{ comment.create_date|naturaltime }}</span>&nbsp;|&nbsp;<a class="reply-btn">回复</a>
            </div>
        </div>
    </div>
        {% empty %}
        <div class="comment"><span>暂时没有评论，还不快抢一楼...</span></div>

    {% endfor %}
</div>
