{% load humanize %}
<div class="reply">
    <div class="reply-header">
        <em class="fa fa-user-circle fa-lg"></em>
        &nbsp;&nbsp;
        {% if reply.user %}
            {{ reply.user }}
        {% else %}
            匿名用户
        {% endif %}
    </div>
    <div id="{{ reply.id }}" class="reply-content">
        {{ reply.content }}
        <div class="reply-footer clearfix">
            <span>{{ reply.create_date|naturaltime }}</span>&nbsp;|&nbsp;<a class="reply-btn">回复</a>
        </div>
    </div>
</div>