html{
    font-size: 14px;
}

.header{
    opacity: 1;
    top:0;
}

.content{
    margin-top:100px;
    margin-bottom: 50px;
}

.content .title{
    margin: 15px 0;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
}

.content .title-label{
    height: 50px;
    text-align: center;
    font-size: 10px;
}

.title-label .inner{
    display: inline-block;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.tags{
    padding-right: 0;
}

.comments .button-comment{
    margin:15px 0 0;
    border-top: 1px solid #222222;
}

.comments textarea{
    overflow-y:hidden;
    padding: 6px 12px;
    font-size: 15px;
    border: 1px solid #222222;
    border-radius: 5px;
    box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
    margin: 30px 0 10px;
    width: 100%;
    height: 200px;
}

.comments span{
    font:bold 18px "Microsoft YaHei";
    line-height: 34px;
}

.comments .btn-default{
    color: #fff;
    background-color: #222222;
    border-color: #222222;
}

.article-box hr{
    width: 100%;
}
.article-content{
    margin-top:15px;
    line-height: 1.6;
}

.article-content pre{
    margin-top:10px;
}
.article-content img{
    width: 100%;
    margin: 0.5rem 0;
}

.article-content ul li p{
    font-size: 1rem;
}


.article-content h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}
.article-content h1{
    font-size: 1.6rem;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom:1px solid;
}

.article-content h2{
    font-size: 1.4rem;
}

.article-content h3{
    font-size: 1.3rem;
}

.article-content h4{
    font-size: 1.2rem;
}

.article-content h5{
    font-size: 1.1rem;
}

.article-content h6{
    font-size: 1rem;
}
.article-content a{
    font-size: 1rem;
}
.article-content p{
    font-size: 1rem;
}

.article-content ul{
    font-size: 1rem;
    list-style: disc;
}

.article-content li{
    margin-left: 2em;
    font-size: 1rem;
}

.article-content a:hover{
    color:#222222;
}

@media screen and (min-width:321px) and (max-width:414px){html{font-size:14px}}
@media screen and (min-width:415px) and (max-width:719px){html{font-size:14.5px}}
@media screen and (min-width:720px) and (max-width:749px){html{font-size:15px}}
@media screen and (min-width:750px) and (max-width:799px){html{font-size:15.5px}}
@media screen and (min-width:800px){html{font-size:16px}}

/*.content .comment{*/
    /*margin: 15px 0;*/
    /*border: 1px solid rgba(22,22,22,0.6);*/
/*}*/

/*.comment .comment-header{*/
    /*margin-top: 15px;*/
    /*height: 25px;*/
    /*font-size: 18px;*/
    /*line-height: 25px;*/
/*}*/

/*.comment .comment-content{*/
    /*font: normal 14px "Microsoft YaHei";*/
    /*background-color: gold;*/
/*}*/

/*.comment-footer{*/
    /*padding: 0;*/
/*}*/

.content .comment{
    margin: 15px 0;
    border-top: 1px dashed rgba(22,22,22,0.6);
}

.comment .comment-header{
    margin-top: 15px;
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.comment .comment-content{
    margin:10px 0 10px 40px;
}

.comment-content .comment-footer span{
    font-size: inherit;
}

.comment-content .comment-footer a{
    font-weight: bold;
    color: #222222;
}

.comment-content .comment-footer a:hover{
    cursor: pointer;
    text-decoration: none;
}

.comment-content .reply{
    border-top:1px dashed rgba(0,0,0,0.75);
    padding-top: 5px;
}

.reply .reply-header{
    height: 25px;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
}

.reply .reply-content{
    margin:10px 0 10px 40px;
}


.reply-content .reply-footer span{
    font-size: inherit;
}

.reply-content .reply-footer a{
    font-weight: bold;
    color: #222222;
}

.reply-content .reply-footer a:hover{
    text-decoration: none;
    cursor: pointer;
}

.comments .comment textarea{
    margin-top: 10px;
}

.comments .comment button{
    margin-bottom: 10px;
}

.ajax-post{
    display: none;
}

.article-content table {width:95%;background:#ccc; margin: 10px auto;border-collapse:collapse;}
.article-content th,.article-content td {height:25px;line-height:25px;text-indent:1rem;border:1px solid #ccc;}
.article-content th {font-weight:bold;border-bottom:2px solid #ccc;background:#fff;}
.article-content tr {background:#fff;}
.article-content tr:nth-child(2n) {background:#f4f4f4;}
.article-content td a {color:#06f;text-decoration:none;}
.article-content td a:hover {color:#06f;text-decoration:underline;} )

