body{
    background-color: #f4f4f4;
    font-family: "Microsoft YaHei";
}

.logo{
    font-size: 30px;
}

.navbar-inverse .navbar-brand{
    color: #ffffff;
}
.header{
    width:100%;
    margin: 0 auto 10px;
    /*background-color: #000000;*/
    /*opacity: 0.5;*/
    position: fixed;
    top:-70px;
    opacity:0;
    transition: all 500ms ease 300ms;
    z-index: 99;
}

.header-menu {
    padding: 10px 15px;
}

.header-content{
    text-align: center;
    width: 100%;
    position: absolute;

}
.header-content div{
    opacity:0;
    position: relative;
    margin-top: 0;
    top:50%;
    transition: all 1000ms ease 300ms;
}

.header-content span{
    width: 60px;
    height: 60px;
    opacity: 0.9;
    background: url("../images/arrow.png");
    background-position: 0 -60px;
    position: absolute;
    bottom:40px;
    left: 50%;
    margin-left: -30px;
    transform: scale(0.85);
    animation: move 1.0s linear 0s infinite;
}

@keyframes move {
    from{
        transform: translate(0, 0);
        opacity: 1;
    }

    to{
        transform: translate(0, 30px);
        opacity: 0;
    }

}


.moving div{
    opacity:1;
}

.header-content div h1{
    margin: 0;
    padding: 0;
    font:bold 40px "Microsoft YaHei";
}

.header-content div h2{
    margin: 0;
    padding: 0;
    font:normal 30px "Microsoft YaHei";
}

.effect{
    background-color: #f4f4f4;
    opacity: 0;
    width: 100%;
    height: 666px;
    position: absolute;
}


.header-image{
    width: 100%;
    height:661px;
    position: relative;
    overflow: hidden;
}

/*.header-image img{*/
    /*width:100%;*/
    /*height: 100%;*/
/*}*/
.header-image{
    background:url("../images/timg1.jpg") no-repeat;
    background-size: cover;
}

.content{
    margin-top:20px;
    color: #222222;
}

.content a:hover{
    color: #00c1d3;
    text-decoration: none;
}

.articles{
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
}

.picture{
    margin-top: 15px;
    height: 160px;
}

.article{
    margin-top: 15px;
    height: 160px;
    position: relative;
}

.article .atitle{
    margin: 0;
    font:bold 20px 'Microsoft YaHei';
    line-height: 35px;
    transition: all 500ms cubic-bezier(.26,.69,.8,1.53);
}

.article .atitle:hover{
    padding-left: 1em;
}

.article .ainfo{
    font-size: 10px;
    margin: 5px 0px;
}

.article .acontent{
    margin: 0;
    font:normal 15px 'Microsoft YaHei';
    line-height: 24px;
    height: 72px;
    overflow: hidden;
}

.article .afooter{
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.picture div{
    height: 100%;
    border-radius:5px;
    overflow: hidden;
    transition:all 1s cubic-bezier(.44,-0.71,.64,1.82);
}

.picture div:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.picture img{
    height:100%;
    width: 100%;
}

.article-box{
    margin-bottom: 15px;
}

.article-box hr{
    width:80%;
    height: 2px;
    background-color: #222222;
    border: none;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus{
    background-color: #f8f8f8;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>.active>a:focus{
    background-color: #222222;
}


.toTop{
    width: 732px;
    height: 732px;
    background: url("../images/totop.png") no-repeat;
    border-radius: 50%;
    background-position: 150px 0;
    border:1px solid #222222;
    position: fixed;
    bottom: -300px;
    right: -285px;
    opacity: 0;
    transition:all ease 300ms;
    transform:scale(0.09);
    /*display: none;*/
}

.toTop:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(0.1);
}


.left-column{
    padding: 0 0 0 30px;
}

.column-info{
    background-color: #ffffff;
    border:1px solid #e5e5e5;
    border-radius: 5px;
    margin-bottom:30px;
    overflow: hidden;
}

.column-header{
    background-color: #222222;
    padding-left: 20px;
    color: #9d9d9d;
    height: 50px;
    font-size: 18px;
    font-weight:bold;
    line-height: 50px;
}

.column-info li{
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    padding: 0 20px;
    border-bottom:1px solid #f4f4f4;
}

.column-info ul span{
    height: 20px;
    width: 40px;
    margin-top: 5px;
    line-height: 18px;
    text-align: center;
    border:1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
}

.left-column a{
    text-decoration: none;
    color: #333333;
}

.left-column .tags-box{
    margin: 10px 20px;
    line-height: 30px;
}

@media (max-width: 770px) {
    .left-column{
        padding: 0;
    }
}

.footer{
    background-color: #222222;
    text-align: center;
    color: #9d9d9d;
}

.footer div{
    margin:10px;
}

.footer a{
    color: #9d9d9d;
}

.navbar-nav>li>.dropdown-menu{
    margin-top: 10px;
}

.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a:focus{
    background-color: #222222;
}

.atitle a{
    color: #222222;
}


/*注册页面*/
.register_con{
	height:500px;
    /*background:url("../images/timg2.jpg");*/

}

.reg_title{width:360px;height:50px;border-bottom:1px solid #e0e0e0;position: absolute;left: 50%;margin-left: -180px;z-index:2;}
.reg_title h1{height:50px;line-height:50px;float:left;font-size:24px;color:#ffffff;font-weight:bold;margin: 0;padding-left:20px;}
.reg_title a{float:right;height:20px;line-height:20px;font-size:16px;color:#ffffff;padding-right:20px;margin-top:15px;}
.reg_title a:hover{text-decoration:none;color: #ffffff;}

.reg_form{width:360px;margin:20px auto;position:relative;z-index:2;}
.reg_form li{height:70px;}
.reg_form li label{width:70px;height:40px;line-height:40px;float:left;font-size:14px;color:#ffffff}
.reg_form li input{width:288px;height:38px;border:1px solid #e0e0e0;float:left;outline:none;text-indent:10px;background-color:#f8f8f8}
.reg_form li.agreement input{width:15px;height:15px;float:left;margin-top:13px}
.reg_form li.agreement label{width:300px;float:left;margin-left:10px;}
.reg_form li.reg_sub input{width:360px;height:40px;background-color:#222222;font-size:18px;color:#fff;font-family:'Microsoft Yahei';cursor:pointer;border:1px solid #222222;}
.reg_form li .error_tip{height:30px;line-height:30px;color:#e62e2e;display:none;}
.reg_form li .error_tip2{height:20px;line-height:20px;color:#e62e2e;display:none;}


/*登入页面*/

.login_con{
    height:500px;
    /*background:url("../images/timg2.jpg");*/
}
.login_form{width:368px;height:378px; margin-left: -184px;position: absolute;left:50%;z-index:2;}

.login_title{height:60px;width:308px;margin:10px auto;border-bottom:1px solid #e0e0e0;}

.login_title h1{font-size:24px;height:60px;line-height:60px;color: #f4f4f4;float:left;font-weight:bold;margin:0 0 0 44px;}
.login_title a{width:100px;height:20px;display:block;font-size:16px;color:#f4f4f4;text-indent:26px;float:left;margin:20px 0 0 36px}
.login_title a:hover{text-decoration:none;color: #ffffff;}

.form_input{width:308px;height:250px;margin:20px auto;position:relative;}
.name_input,.pass_input{width:306px;height:36px;border:1px solid #e0e0e0;background:url(../images/icons02.png) 280px -41px no-repeat #f8f8f8;outline:none;font-size:14px;text-indent:10px;position: absolute;left:0;top:0}
.pass_input{top:65px;background-position:280px -95px;}

.user_error,.pwd_error{color:#f00;position:absolute;left:0;top:43px;display:none}

.pwd_error{top:110px;}

.more_input{position:absolute;left:0;top:130px;width:100%}

.more_input input{float:left;margin-top:5px;}
.more_input label{float:left;margin-left:10px;color: #f4f4f4}
.more_input a{float:right;color:#f4f4f4;}
.more_input a:hover{color:#ffffff;text-decoration:none;}

.input_submit{width:100%;height:40px;position:absolute;left:0;top:180px;background-color:#f4f4f4;color:#222222;font-size:20px;border:0px;font-family:'Microsoft Yahei';cursor:pointer;}


.register-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.jparticle-container{
    width: 100%;
    position: absolute;
    top:70px;
    z-index: 1;
}
