{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% load comment_tags %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/article.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/article.js' %}"></script>
{% endblock %}
{% block content %}
	<div id="content" class="container content">
		<div id="articles" class="articles col-md-9 ">
			<div class="article-box col-md-12 clearfix">
				<div class="article-content">
					<div class="title">{{ article.title }}</div>
					<div class="title-label">
						<div class="inner">
							<span>---- {{ article.create_date }}</span>
							<span> · {{ article.get_status_display }} ----</span>
						</div>
					</div>
                    {{ article.body|safe }}
                    </div>
			</div>
        	{% get_comments article %}
		</div>
		{% get_left_column %}
        {#    用于ajax post 提交数据    #}
        <div class="ajax-post">
            {% csrf_token %}
            <span>{{ article.id }}</span>
        </div>
	</div>
{% endblock %}
