<div id="comments" class="comments col-md-12 clearfix">
    <!--<div><input type="text" name="comment"></div>-->
    <div class="button-comment clearfix">
        <textarea name="ccontent" id="ccomment"></textarea>
        <button class="btn btn-default btn-md fr">提&nbsp;&nbsp;交</button>
        <span class="fl">0人参与</span><span class="fl">&nbsp;|&nbsp;</span><span class="fl">0条评论</span>
    </div>
    <div id="comment_id" class="comment col-md-12 clearfix">
        <!--<div class="col-md-12 comment-header">-->
        <div class="comment-header">
            <em class="fa fa-user-circle fa-lg"></em>
            &nbsp;
            辉哥哥
        </div>
        <!--<div id="cc_id" class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 comment-content">-->
        <div id="cc_id" class="comment-content">
            我是好人、、、、<br><br>
            这个一首歌啊啊大
            <div class="comment-footer">
                <span>创建时间</span>&nbsp;|&nbsp;<span>回复</span>
            </div>
            <div id="cr_id1" class="reply">

                <div class="reply-header">
                    <em class="fa fa-user-circle fa-lg"></em>
                    &nbsp;
                    文妹妹1
                </div>
                <div id="rc_id1" class="reply-content">
                    我是回复、、、、、<br>
                    11111111111111
                     <div class="reply-footer">
                        <span>创建时间</span>&nbsp;|&nbsp;<span>回复</span>
                     </div>
                    <div id="cr_id2" class="reply">

                        <div class="reply-header">
                            <em class="fa fa-user-circle fa-lg"></em>
                            &nbsp;
                            文妹妹2
                        </div>
                        <div id="rc_id2" class="reply-content">
                            我是回复、、、、、<br>
                            2222222222222
                            <div class="reply-footer">
                                <span>创建时间</span>&nbsp;|&nbsp;<span>回复</span>
                            </div>
                        </div>
                    </div>
                    <div id="cr_id3" class="reply">

                        <div class="reply-header">
                            <em class="fa fa-user-circle fa-lg"></em>
                            &nbsp;
                            文妹妹2
                        </div>
                        <div id="rc_id3" class="reply-content">
                            我是回复、、、、、<br>
                            33333333333
                            <div class="reply-footer">
                                <span>创建时间</span>&nbsp;|&nbsp;<span>回复</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cr_id4" class="reply">
                <div class="reply-header">
                    <em class="fa fa-user-circle fa-lg"></em>
                    &nbsp;
                    文妹妹4
                </div>
                <div id="rc_id4" class="reply-content">
                    我是回复、、、、、<br>
                    4444444444444444
                    <div class="reply-footer">
                        <span>创建时间</span>&nbsp;|&nbsp;<span>回复</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>