<div id="header" class="navbar navbar-inverse navbar-static-top header">
    <div class="container header-menu clearfix">
        <div class="navbar-header">
             <button class="navbar-toggle" data-toggle="collapse" data-target="#togglemenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
             </button>

            <a href="{% url 'blog:index' %}" class="navbar-brand logo">Good-Person</a>
        </div>


        <div class="collapse navbar-collapse" id="togglemenu">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'blog:index' %}">首页</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown">
                            实验室
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'tool:bysj' %}" target="_blank">毕业设计</a></li>
                        </ul>
                    </li>
{#                    <li><a href="#">分类</a></li>#}
{#                    <li><a href="#">链接</a></li>#}
{#                    <li><a href="#">关于</a></li>#}
                </ul>
{#                <button class="btn btn-default navbar-btn">按钮</button>#}
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="true" data-toggle="dropdown" title="欢迎{{ user.username }}登入">
                            <i class="fa fa-user-o fa-lg"></i>&nbsp;{{ user.username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">个人信息</a></li>
                            <li><a href="{% url 'usercenter:logout' %}?next={{ request.get_full_path }}">退出</a></li>
                        </ul>
                    </li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'usercenter:login' %}?next={{ request.get_full_path }}">登录</a></li>
                    <li><a href="{% url 'usercenter:register' %}?next={{ request.get_full_path }}">注册</a></li>
                </ul>
                {% endif %}
                <form class="navbar-form navbar-right" action="/search/" method="get" target="_blank">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>

                    </div>
                </form>
        </div>
    </div>
</div>
