{% extends 'blog/base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}
<div id="header-image" class="header-image">
    <div id="header-content" class="header-content">
        <div>
            <h1>Welcome to my blog</h1>
            <h2>每天前进一小步<br>记录我的成长</h2>
        </div>
        <span></span>
    </div>
    <div class="effect" id="effect"></div>
</div>
<div id="content" class="container content">
    <div id="articles" class="articles col-md-9 col-sm-8 col-xs-12">
        <div class="article-box clearfix">
            {% for article in articles %}
            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle"><a href="{% url 'blog:article' article.id %}">{{ article.title }}</a></div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;{{ article.user }}&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;{{ article.create_date|naturaltime }}&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">{{ article.body }}</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;{{ article.category }}&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;{{ article.views }}&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
{% get_left_column %}
</div>
{% endblock %}
