<div id="left-column" class="left-column col-md-3 col-sm-4 col-xs-12 clearfix">
    <div class="column-info clearfix">
        <div class="column-header"><span class="fa fa-list fa-lg"></span>&nbsp&nbsp分&nbsp类</div>
        <ul>
            {% for category in categories %}
            <li><a href="#">{{ category.name }}</a><span class="fr">{{ category.get_article_num }}</span></li>
            {% endfor %}
        </ul>
    </div>

    <div class="column-info clearfix">
        <div class="column-header"><span class="fa fa-tags fa-lg"></span>&nbsp&nbsp标&nbsp签</div>
        <div class="tags-box">
            {% for tag in tags %}
            <a href="#" class="btn btn-default btn-xs">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>