{% extends 'blog/base.html' %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
{#    <link rel="stylesheet" href="/static/css/article.css">#}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/article.js' %}"></script>
{% endblock %}

{% block content %}
<div id="content" class="container content">
    <div id="articles" class="articles col-md-9 col-sm-8 col-xs-12">
        <div class="article-box clearfix">
            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>

            <div class="article col-md-8 col-sm-12 col-xs-12">
                <div class="atitle">标题</div>
                <div class="ainfo clearfix">
                    <ul>
                        <li class="fl"><span class="fa fa-user"></span>&nbsp;Felix&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-calendar"></span>&nbsp;一小时前&nbsp;&nbsp;</li>
                    </ul>
                </div>
                <div class="acontent">简单、直观、强悍的前端开发框架，让web开发更迅速、简单。来自Twitter，是目前很受欢迎的前端框架之一。Bootrstrap是基于HTML、CSS、JavaScript的，让书写代码更容易。移动优先，响应式布局开发.</div>
                <div class="afooter">
                    <ul>
                        <li class="fl"><span class="fa fa-list-ul"></span>&nbsp;胡扯&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-eye"></span>&nbsp;100&nbsp;&nbsp;</li>
                        <li class="fl"><span class="fa fa-comments"></span>&nbsp;0&nbsp;&nbsp;</li>
                    </ul>
                </div>
            </div>
            <div class="picture col-md-4 hidden-sm hidden-xs">
                <div>
                <img src="{% static 'images/picture.jpg' %}" alt="配图" class="img-responsive center-block">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <hr>
            </div>
        </div>
    </div>
    {% include 'blog/left-column.html' %}
</div>
{% endblock %}

{% block footer %}
<div id="toTop" class="toTop"></div>
{% endblock %}